#mainDiv{
  border: 0px solid red;
  width: 1300px;
  height: 750px;
  margin: auto;
}
#topDiv{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: right;
}
#topDivMent{
  margin-right: 40px;
  font-size: 14px;
}
#myName{
  font-weight: bold;
  margin-right: 10px;
  font-size: 13px;
}
#loginBtn{
  margin-right: 20px;
}
#loginBtn, #joinBtn, #logoutBtn, .categoryName{
  text-decoration-line: none;
  font-weight: bold;
  color: black;
}
#titleDiv{
  border: 1px solid white;
  height: 100px;
}
#mainTitleDiv{
  border: 0px solid red;
  position: absolute;
  margin-left: 560px;
  margin-top: 0px;
  height: 100px;
}
#mainTitleDiv:hover{
  cursor: pointer;
}
#usercartDiv{
  border: 0px solid red;
  float: right;
  width: 120px;
  height: 50px;
  margin-right: 50px;
}
#userImg, #basketImg{
  position: absolute;
  cursor: pointer;
}
#userImg{
  margin-top: 8px;;
}
#basketImg{
  margin-left: 60px;
}
#searchDiv{
  border: 2px solid black;
  width: 260px;
  height: 33px;
  margin-top: 55px;
  margin-left: 1000px;
}
#searchInput{
  width: 200px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
  border: none;
  position: absolute;
}
#searchInput:focus{
  outline: none;
}
#searchBtn{
  background-color: white;
  border: none;
  position: absolute;
  margin-left: 225px;
  margin-top: 3px;
  cursor: pointer;
}
#categoryDiv{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 50px;
}
#categoryNameDiv{
  border: 0px solid blue;
  width: 1100px;
  height: 30px;
  margin-top: 10px;
  margin-left: 100px;
  padding-top: 4px;
  text-align: center;
}
.categoryName{
  margin-left: 50px;
  margin-right: 50px;
  transition: all 0.4s;
}
.categoryName:hover{
  color: crimson;
}
#slideDiv{
  margin: auto;
  margin-top: 50px;
  height: 500px;
  width: 1000px;
  border: 1px solid lightgray;
  box-shadow: 5px 5px 5px lightgray;
}
.section{
  height: 500px;
  display: flex;
  justify-self: center;
  align-items: center;
}
.slider{
  width: 1000px;
  height: 500px;
  overflow: hidden;
}
.slide{
  width: 500%;
  height: 500px;
  display: flex;
}
.slide input{
  display: none;
}
.st{
  width: 20%;
  transition: 2s;
}
.st img{
  width: 1000px;
  height: 500px;
}
.nav-m{
  position: absolute;
  width: 1000px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.m-btn{
  margin-top: 500px;
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.m-btn:not(:last-child){
  margin-right: 30px;
}
.m-btn:hover{
  background-color: black;
}
#radio1:checked ~.first{
  margin-left: 0;
}
#radio2:checked ~.first{
  margin-left: -20%;
}
#radio3:checked ~.first{
  margin-left: -40%;
}
#radio4:checked ~.first{
  margin-left: -60%;
}
.nav-auto{
  position: absolute;
  width: 1000px;
  margin-top: 460px;
  display: flex;
  justify-content: center;
}
.nav-auto div{
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.nav-auto div:not(:last-child){
  margin-right: 30px;
  justify-content: center;
}
#radio1:checked ~ .nav-auto .a-b1{
  background-color: black;
}
#radio2:checked ~ .nav-auto .a-b2{
  background-color: black;
}
#radio3:checked ~ .nav-auto .a-b3{
  background-color: black;
}
#radio4:checked ~ .nav-auto .a-b4{
  background-color: black;
}
#leftArrowDiv{
  width: 180px;
  height: 450px;
  float: left;
  margin-left: 120px;
  margin-top: -500px;
  cursor: pointer;
}
#rightArrowDiv{
  width: 180px;
  height: 450px;
  float: right;
  margin-right: 120px;
  margin-top: -500px;
  cursor: pointer;
}
#leftArrow, #rightArrow{
  width: 70px;
  margin-top: 190px;
}
#leftArrow{
  margin-left: 50px;
}
#rightArrow{
  margin-left: 50px;
}