#mainDiv{
  width: 1300px;
  height: 750px;
  margin: auto;
  padding-bottom: 50px;
}
#topDiv{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: right;
}
#topDivMent{
  margin-right: 40px;
  font-size: 14px;
}
#adminMent{
  font-weight: bold;
  color: red;
  margin-right: 5px;
}
#myName{
  font-weight: bold;
  margin-right: 10px;
  font-size: 13px;
}
#productListBtn{
  float: left;
  margin-left: 50px;
}
#loginBtn{
  margin-right: 20px;
}
#productListBtn, #loginBtn, #joinBtn, #logoutBtn, .categoryName{
  text-decoration-line: none;
  font-weight: bold;
  color: black;
}
#titleDiv{
  border: 1px solid white;
  height: 100px;
  border-bottom: 1px solid black;
}
#mainTitleDiv{
  position: absolute;
  margin-left: 565px;
  margin-top: 0px;
  height: 100px;
}
#mainTitleDiv:hover{
  cursor: pointer;
}
#usercartDiv{
  float: right;
  width: 120px;
  height: 50px;
  margin-right: 50px;
}
#userImg, #basketImg{
  position: absolute;
  cursor: pointer;
}
#userImg{
  margin-top: 8px;;
}
#basketImg{
  margin-left: 60px;
}
#searchDiv{
  border: 2px solid black;
  width: 260px;
  height: 33px;
  margin-top: 55px;
  margin-left: 1000px;
}
#searchInput{
  width: 200px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
  border: none;
  position: absolute;
}
#searchInput:focus{
  outline: none;
}
#searchBtn{
  background-color: white;
  border: none;
  position: absolute;
  margin-left: 225px;
  margin-top: 3px;
  cursor: pointer;
}
#contentDiv{
  width: 1300px;
  height: 600px;
  margin: auto;
  margin-top: 20px;
}
#eventTable{
  border-collapse: collapse;
  margin: auto;
  margin-top: 50px;
  border-top: 1px solid gray;
}
td{
  border-bottom: 1px solid gray;
}
#titleId{
  height: 80px;
  width: 1000px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
#dateId{
  height: 50px;
  font-weight: bold;
  padding-left: 20px;
}
#dateId > span {
  display: block;
  float: right;
  margin-right: 30px;
}
#contentId{
  height: 350px;
  padding-left: 20px;
}
#btnDiv{
  height: 50px;
  width: 1000px;
  margin: auto;
  text-align: right;
}
#btnDiv > button{
  margin-top: 10px;
  margin-right: 10px;
  height: 30px;
  width: 60px;
  border-radius: 20px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}