#mainDiv{
  border: 0px solid red;
  width: 1300px;
  margin: auto;
}
#topDiv{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: right;
}
#topDivMent{
  margin-right: 40px;
  font-size: 14px;
}
#adminMent{
  font-weight: bold;
  color: red;
  margin-right: 5px;
}
#myName{
  font-weight: bold;
  margin-right: 10px;
  font-size: 13px;
}
#productListBtn{
  float: left;
  margin-left: 50px;
}
#loginBtn{
  margin-right: 20px;
}
#productListBtn, #loginBtn, #joinBtn, #logoutBtn, .categoryName{
  text-decoration-line: none;
  font-weight: bold;
  color: black;
}
#titleDiv{
  border: 1px solid white;
  height: 100px;
  border-bottom: 1px solid black;
}
#mainTitleDiv{
  border: 0px solid red;
  position: absolute;
  margin-left: 560px;
  margin-top: 0px;
  height: 100px;
}
#mainTitleDiv:hover{
  cursor: pointer;
}
#usercartDiv{
  border: 0px solid red;
  float: right;
  width: 120px;
  height: 50px;
  margin-right: 50px;
}
#userImg, #basketImg{
  position: absolute;
  cursor: pointer;
}
#userImg{
  margin-top: 8px;;
}
#basketImg{
  margin-left: 60px;
}
#searchDiv{
  border: 2px solid black;
  width: 260px;
  height: 33px;
  margin-top: 55px;
  margin-left: 1000px;
}
#searchInput{
  width: 200px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
  border: none;
  position: absolute;
}
#searchInput:focus{
  outline: none;
}
#searchBtn{
  background-color: white;
  border: none;
  position: absolute;
  margin-left: 225px;
  margin-top: 3px;
  cursor: pointer;
}
#contentDiv{
  border: 1px solid red;
  width: 1300px;
  height: 600px;
  margin: auto;
  padding-top: 20px;
}
#subTitleDiv{
  border: 1px solid red;
  width: 1300px;
  height: 100px;
  text-align: center;
}
#subTitleDiv > h1{
  font-size: 40px;
}